<IfModule mod_rewrite.c>
	<IfModule mod_negotiation.c>
		Options -Indexes -MultiViews
	</IfModule>

	RewriteEngine On
	# RewriteBase /

	# block folder access from url
	RewriteCond %{REQUEST_FILENAME} !-d

	# block file access from url
	RewriteCond %{REQUEST_FILENAME} !-f

	# rule for url
	# remove index.php? from url
	RewriteRule ^(.*)$ index.php?$1 [L,QSA]
</IfModule>